.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}
.mainContainer{
    max-width:900px ;
    margin: auto;
}
.main .greetmessage{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;

}
.main .greetmessage span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.mainBottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;

}
.searchbox{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 50px;
}
.searchbox img{
    width: 25px;
    cursor: pointer;
}
.searchbox input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px ;
}
.searchbox div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main .bottomInfo{
    font-size: 15px;
    margin:15px auto;
    text-align: center;
    font-weight: 300;
}
.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}
.result::-webkit-scrollbar{
    display: none;
}
.resultTitle{
    margin: 40px 0px;
    display: flex;
    align-items:center;
    gap: 20px;
}
.result img{
    width:40px;
    border-radius: 50%;
}
.resultData{
    display: flex;
    align-items: start;
    gap: 20px;

}
.resultloader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.resultloader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: resultloader 3s infinite linear;
}
@keyframes resultloader {
    0%{
        background-position:-800px 0px;

    }
    100%{
        background-position: 800px 0px;
    }
}
.resultData p{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;
}